-- MySQL dump 10.13  Distrib 5.7.33, for Win64 (x86_64)
--
-- Host: localhost    Database: Reserva_Laberinto
-- ------------------------------------------------------
-- Server version	5.7.33

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_field` int(10) unsigned DEFAULT NULL,
  `date` date DEFAULT NULL,
  `time_from` varchar(20) DEFAULT NULL,
  `time_until` varchar(20) DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `visitors` varchar(50) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `total_payment` bit(1) DEFAULT NULL,
  `total` float DEFAULT NULL,
  `parcial` float DEFAULT NULL,
  `diference` float DEFAULT NULL,
  `reservation` float DEFAULT NULL,
  `payment` float DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `approved` bit(1) DEFAULT NULL,
  `mp` bit(1) DEFAULT NULL,
  `use_offer` bit(1) DEFAULT NULL,
  `description` varchar(250) DEFAULT NULL,
  `annulled` bit(1) DEFAULT b'0',
  `id_customer` int(10) unsigned DEFAULT NULL,
  `id_preference_parcial` varchar(250) NOT NULL,
  `id_preference_total` varchar(250) NOT NULL,
  `booking_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`),
  KEY `bookings_id_field_foreign` (`id_field`),
  KEY `bookings_id_customer_foreign` (`id_customer`),
  CONSTRAINT `bookings_id_customer_foreign` FOREIGN KEY (`id_customer`) REFERENCES `customers` (`id`),
  CONSTRAINT `bookings_id_field_foreign` FOREIGN KEY (`id_field`) REFERENCES `fields` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) DEFAULT NULL,
  `dni` varchar(20) DEFAULT NULL,
  `area_code` varchar(20) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `complete_phone` varchar(20) DEFAULT NULL,
  `city` varchar(150) DEFAULT NULL,
  `offer` float DEFAULT '0',
  `quantity` int(11) DEFAULT '0',
  `email` varchar(50) DEFAULT NULL,
  `type_institution` varchar(50) DEFAULT NULL,
  `user_name` varchar(50) DEFAULT NULL,
  `pass` varchar(50) DEFAULT NULL,
  `deleted` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fields`
--

DROP TABLE IF EXISTS `fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fields` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `floor_type` varchar(250) DEFAULT NULL,
  `sizes` varchar(250) DEFAULT NULL,
  `ilumination` bit(1) DEFAULT NULL,
  `field_type` varchar(250) DEFAULT NULL,
  `roofed` bit(1) DEFAULT NULL,
  `value` float DEFAULT NULL,
  `ilumination_value` float DEFAULT NULL,
  `elements_rent` bit(1) DEFAULT NULL,
  `disabled` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fields`
--

LOCK TABLES `fields` WRITE;
/*!40000 ALTER TABLE `fields` DISABLE KEYS */;
INSERT INTO `fields` VALUES (1,'Laberinto','','20x10',_binary '\0','',_binary '\0',NULL,NULL,_binary '\0',_binary '\0');
/*!40000 ALTER TABLE `fields` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mercado_pago`
--

DROP TABLE IF EXISTS `mercado_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mercado_pago` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `collection_id` varchar(50) NOT NULL,
  `collection_status` varchar(50) NOT NULL,
  `payment_id` varchar(50) NOT NULL,
  `status` varchar(11) NOT NULL,
  `external_reference` varchar(50) DEFAULT NULL,
  `payment_type` varchar(20) NOT NULL,
  `merchant_order_id` varchar(50) NOT NULL,
  `preference_id` varchar(250) NOT NULL,
  `site_id` varchar(20) NOT NULL,
  `processing_mode` varchar(20) NOT NULL,
  `merchant_account_id` varchar(50) DEFAULT NULL,
  `annulled` bit(1) DEFAULT b'0',
  `id_booking` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mercado_pago_id_booking_foreign` (`id_booking`),
  CONSTRAINT `mercado_pago_id_booking_foreign` FOREIGN KEY (`id_booking`) REFERENCES `bookings` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mercado_pago`
--

LOCK TABLES `mercado_pago` WRITE;
/*!40000 ALTER TABLE `mercado_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `mercado_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mercado_pago_keys`
--

DROP TABLE IF EXISTS `mercado_pago_keys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mercado_pago_keys` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `public_key` varchar(500) DEFAULT NULL,
  `access_token` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mercado_pago_keys`
--

LOCK TABLES `mercado_pago_keys` WRITE;
/*!40000 ALTER TABLE `mercado_pago_keys` DISABLE KEYS */;
INSERT INTO `mercado_pago_keys` VALUES (7,'APP_USR-b5415ed5-f6c0-46d3-89c1-fa25074a8bfc','APP_USR-584685606778950-092608-8b3a52be0b73ed70e74621ddd0b64169-205737781');
/*!40000 ALTER TABLE `mercado_pago_keys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offers`
--

DROP TABLE IF EXISTS `offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `value` int(11) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `expiration_date` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offers`
--

LOCK TABLES `offers` WRITE;
/*!40000 ALTER TABLE `offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_user` int(10) unsigned NOT NULL,
  `id_booking` int(10) unsigned NOT NULL,
  `id_customer` int(10) unsigned DEFAULT NULL,
  `id_mercado_pago` int(10) unsigned DEFAULT NULL,
  `amount` float NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payments_id_user_foreign` (`id_user`),
  KEY `payments_id_booking_foreign` (`id_booking`),
  KEY `payments_id_customer_foreign` (`id_customer`),
  CONSTRAINT `payments_id_booking_foreign` FOREIGN KEY (`id_booking`) REFERENCES `bookings` (`id`),
  CONSTRAINT `payments_id_customer_foreign` FOREIGN KEY (`id_customer`) REFERENCES `customers` (`id`),
  CONSTRAINT `payments_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rate`
--

DROP TABLE IF EXISTS `rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rate` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `value` int(11) NOT NULL,
  `qty_visitors` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rate`
--

LOCK TABLES `rate` WRITE;
/*!40000 ALTER TABLE `rate` DISABLE KEYS */;
INSERT INTO `rate` VALUES (1,30,0);
/*!40000 ALTER TABLE `rate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_values`
--

DROP TABLE IF EXISTS `service_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_values` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  `value` varchar(50) DEFAULT NULL,
  `amount` double DEFAULT NULL,
  `extra_amount` double DEFAULT NULL,
  `disabled` bit(1) NOT NULL DEFAULT b'0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_values`
--

LOCK TABLES `service_values` WRITE;
/*!40000 ALTER TABLE `service_values` DISABLE KEYS */;
INSERT INTO `service_values` VALUES (1,'Escuela rural','escuela_rural',18000,NULL,_binary '\0'),(2,'Educaci??n especial','educaci??n_especial',25000,NULL,_binary '\0'),(3,'Instituci??n educativa','instituci??n_educativa',35000,NULL,_binary '\0'),(5,'Agencia','agencia',20000,NULL,_binary '\0'),(6,'Test','test',0.1,NULL,_binary '\0'),(7,'Particular','particular',20000,NULL,_binary '\0');
/*!40000 ALTER TABLE `service_values` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time`
--

DROP TABLE IF EXISTS `time`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `time` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `from` varchar(10) NOT NULL,
  `until` varchar(10) NOT NULL,
  `from_cut` varchar(10) DEFAULT NULL,
  `until_cut` varchar(10) DEFAULT NULL,
  `nocturnal_time` varchar(10) DEFAULT NULL,
  `is_sunday` bit(1) DEFAULT NULL,
  `is_saturday` bit(1) DEFAULT NULL,
  `is_friday` bit(1) DEFAULT NULL,
  `is_thursday` bit(1) DEFAULT NULL,
  `is_wednesday` bit(1) DEFAULT NULL,
  `is_tuesday` bit(1) DEFAULT NULL,
  `is_monday` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time`
--

LOCK TABLES `time` WRITE;
/*!40000 ALTER TABLE `time` DISABLE KEYS */;
INSERT INTO `time` VALUES (5,'09:00','19:00',NULL,NULL,NULL,_binary '',NULL,_binary '',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `time` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uploads`
--

DROP TABLE IF EXISTS `uploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uploads` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) DEFAULT NULL,
  `main_color` varchar(50) DEFAULT NULL,
  `secondary_color` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uploads`
--

LOCK TABLES `uploads` WRITE;
/*!40000 ALTER TABLE `uploads` DISABLE KEYS */;
INSERT INTO `uploads` VALUES (2,'68d6a48d53bc6.png','#0d6a3a','#e98521');
/*!40000 ALTER TABLE `uploads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(100) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `superadmin` bit(1) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `active` bit(1) NOT NULL DEFAULT b'1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'testuser','$2y$10$jlRsLrGdwCeREMurdGwRQOnKNpimpc19tHXZCl6AEDN2rcKR3SF.K',_binary '','Testuser',_binary ''),(3,'Luciana','$2y$10$deFFxusHvmE6mBaLhsZmp.AOD9nrfCAKZBNNOgAicTPB42WKq1Jaa',_binary '\0','Administrador',_binary ''),(4,'Prueba','$2y$10$HzMiB103zCcfih2okpzkHerWZm1dE3c5GExT58i5hbn4F64GGgVmi',_binary '\0','Prueba',_binary ''),(5,'admin','$2y$10$iOST5b1NLtr6HgMS9.MDpO2qttknPJKhQgk0FB/Ba97mlJiL/sqQa',_binary '','Administraci??n',_binary '');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-26 14:47:00
